<!--Bio data is passed via artist-details component
  and injected via openDialogBio()
-->
<mat-progress-bar
  *ngIf="this.isLoading == true"
  mode="indeterminate"
  diameter="80"
  strokeWidth="10"
></mat-progress-bar>
<div *ngIf="this.isLoading == false">
  <h2>Top 5 Tracks</h2>
  <p>{{ this.message }}</p>
  <ngx-audio-player
    *ngIf="this.trackResults.length > 0"
    class="onHover"
    [playlist]="msaapPlaylist"
    [displayTitle]="msaapDisplayTitle"
    [autoPlay]="false"
    muted="muted"
    [displayPlaylist]="msaapDisplayPlayList"
    [pageSizeOptions]="msaapPageSizeOptions"
    [expanded]="true"
    [displayVolumeControls]="msaapDisplayVolumeControls"
    [disablePositionSlider]="msaapDisablePositionSlider"
  ></ngx-audio-player>
  <br />
  <button mat-raised-button color="warn" align="end" (click)="onCloseClick()">
    Close
  </button>
</div>
