<mat-progress-spinner
  *ngIf="this.isLoading == true"
  mode="indeterminate"
  diameter="80"
  strokeWidth="10"
></mat-progress-spinner>

<div *ngIf="this.isLoading == false">
  <h2>{{ data.artist }}</h2>
  <ul *ngFor="let artistResult of artistResults; let i = index">
    <li
      *ngIf="
        artistResult.strGenre != null && artistResult.strGenre !== '' && i == 0
      "
    >
      <strong>Genre:</strong> {{ artistResult.strGenre }}
    </li>
    <li
      *ngIf="
        artistResult.strLabel !== null && artistResult.strLabel !== '' && i == 0
      "
    >
      <strong>Label:</strong> {{ artistResult.strLabel }}
    </li>
    <li
      *ngIf="
        artistResult.strStyle !== null && artistResult.strStyle !== '' && i == 0
      "
    >
      <strong>Style:</strong> {{ artistResult.strStyle }}
    </li>
    <li
      *ngIf="
        artistResult.intFormedYear != null &&
        artistResult.intFormedYear !== '' &&
        artistResult.intFormedYear != 0 &&
        i == 0
      "
    >
      <strong>Year Formed:</strong> {{ artistResult.intFormedYear }}
    </li>
    <li
      *ngIf="
        artistResult.strCountry != null &&
        artistResult.strCountry !== '' &&
        i == 0
      "
    >
      <strong>From:</strong> {{ artistResult.strCountry }}
    </li>
    <li
      *ngIf="
        artistResult.strWebsite != null &&
        artistResult.strWebsite !== '' &&
        i == 0
      "
    >
      <strong>Website:</strong>
      <a href="http://{{ artistResult.strWebsite }}" target="_blank">
        {{ artistResult.strWebsite }}
      </a>
    </li>
    <a
      *ngIf="
        artistResult.strBiographyEN != null &&
        artistResult.strBiographyEN !== '' &&
        i == 0
      "
      mat-raised-button
      (click)="openDialogBio(artistResult.strBiographyEN)"
      ><strong>Biography</strong></a
    >
    <a
      *ngIf="
        artistResult.strBiographyEN != null &&
        artistResult.strBiographyEN !== '' &&
        i == 0
      "
      mat-raised-button
      (click)="openDialogTopTracks(this.data.artistId)"
      ><strong>Top 5</strong></a
    >
  </ul>
  <ul>
    <li *ngIf="artistResults === null || artistResults?.length === 0">
      No additional information to display
    </li>
  </ul>
  <button mat-raised-button color="warn" align="end" (click)="onCloseClick()">
    Close
  </button>
</div>
