.mat-button-focus-overlay {
  background-color: transparent !important;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  color: #125699;
}

.text-truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
}
