<!--Validation is done via ngIf
Indexes are set in case API returns multiple records for same single track
First artist is most complete so bind to first occurence in array (trackResults)
-->
<mat-progress-spinner
  *ngIf="this.loading == true"
  mode="indeterminate"
  diameter="80"
  strokeWidth="10"
></mat-progress-spinner>

<div *ngIf="this.loading == false">
  <h2>{{ data.songTitle }}</h2>
  <!--TODO: Fix formatting specific to Track API-->
  <ul *ngFor="let trackResult of trackResults; let i = index">
    <li
      *ngIf="
        trackResult.strArtist != null && trackResult.strArtist !== '' && i == 0
      "
    >
      <strong>Artist:</strong> {{ trackResult.strArtist }}
    </li>

    <li
      *ngIf="
        trackResult.strAlbum != null && trackResult.strAlbum !== '' && i == 0
      "
    >
      <strong>Album:</strong> {{ trackResult.strAlbum }}
    </li>

    <li
      *ngIf="
        trackResult.strGenre != null && trackResult.strGenre !== '' && i == 0
      "
    >
      <strong>Genre:</strong> {{ trackResult.strGenre }}
    </li>
    <li
      *ngIf="
        trackResult.strStyle !== null && trackResult.strStyle !== '' && i == 0
      "
    >
      <strong>Style:</strong> {{ trackResult.strStyle }}
    </li>
    <li
      *ngIf="
        trackResult.strMusicVid != null &&
        trackResult.strMusicVid !== '' &&
        i == 0
      "
    >
      <strong>Music Video:</strong>
      <a href="{{ trackResult.strMusicVid }}" target="_blank">&nbsp;YouTube</a>
    </li>
  </ul>
  <ul>
    <li *ngIf="trackResults === null || trackResults?.length === 0">
      No additional information to display
    </li>
  </ul>
  <!-- -->
  <ngx-audio-player
    #audio_player
    [playlist]="msaapPlaylist"
    [displayTitle]="msaapDisplayTitle"
    [displayVolumeControls]="msaapDisplayVolumeControls"
    [autoPlay]="false"
    muted="muted"
    [displayPlaylist]="msaapDisplayPlayList"
    [displayVolumeControls]="msaapDisplayVolumeControls"
    [disablePositionSlider]="msaapDisablePositionSlider"
    [expanded]="true"
  ></ngx-audio-player>
  <br />
  <button mat-raised-button color="warn" align="end" (click)="onCloseClick()">
    Close
  </button>
</div>
